<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.best.statistics.domain.menu.mapper.MenuItemMapper">
    <sql id="base_column">
        id, name, parent_id, icon, front_path, level, state
    </sql>

    <select id="queryAll" resultType="org.best.statistics.domain.menu.entity.MenuItem">
        SELECT
        <include refid="base_column"/>
        FROM menu_item_t
    </select>
</mapper>